<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h4 class="card-title text-center">Password Reset</h4>

          <form #f="ngForm" class="form-signin" (ngSubmit)="onSubmit(f)">

            <div class="form-label-group">
              <label class="control-label" for="name">Enter your email address and we will send you a link to reset
                your password.</label>
              <input type="text" class="form-control" id="Email" name="Email" [(ngModel)]="Email" autofocus placeholder="Please enter your email">
            </div>

            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Send Reset Link</button>
            <a class="d-block text-center mt-2 small" routerLink="/signup">Or Create an Account</a>
          </form>

          <div class="alert alert-primary" *ngIf="response">
            {{response}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
