<div class="container fluid">
    <div class="card">
      <div class="card-header">
        <app-secondary-navbar></app-secondary-navbar>
      </div>
      <div class="card-body">
        <h3>Update Password</h3>
        <hr/>
        <form (ngSubmit)="updatePassword()" #pform="ngForm">
  
          <!-- New password -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="password">New Password</label>
            <div class="col">
              <input type="password" class="form-control" name="password" [(ngModel)]="newPassword" minlength="8"
                maxlength="16" required>
            </div>
          </div>
  
          <!-- Retype password -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="passwordConfirmation">Re-enter your password</label>
            <div class="col">
              <input type="password" class="form-control" name="passwordConfirmation" [(ngModel)]="reenteredPassword"
                minlength="8" maxlength="16" required>
            </div>
          </div>
  
  
          <div class="row">
            <div class="col">
              <button class="btn btn-success text-uppercase float-right" [disabled]='!pform.form.valid' type="submit">Update Password</button>
            </div>
          </div>
        </form>
  
        <div *ngIf="success != null && success" class="alert alert-success mt-3">
          Your password has successfully changed! Please <a class="alert-link" routerLink="/login">Login!</a>
        </div>
  
        <div *ngIf="success != null && !(success)" class="alert alert-danger mt-3">
          There was an error changing your password, please contact an administrator.
        </div>
  
  
  
      </div>
    </div>
  </div>
  